.dashboard {
    display: flex;
    background-color: lavender;
    margin: 20px;
    border-radius: 20px;
    width: 1700px;
    height: 100%;
    padding: 0%;
}
.sidenav {
    width: 300px;
    height: 100%;
    padding: 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgb(17, 146, 252);
}

.sidenav a {
    color: black;
}
.sidenav li {
    color: white;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 10px;
    font-size: 17px;
}
.sidenav li:hover {
    background-color: white;
    color: rgb(17, 146, 252);
    width: 200px;
    height: 40px;
    border-radius: 10px;
    text-align: left;
}
.horizontalbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 0px 15px 0px 0px;
    background-color: white;
    margin-left:0px;
    margin-top: 0px;
}

.horizontalbar ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
}
.horizontalbar div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    width: 200px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main-content {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.main-content-side {
    margin-right: 30px;
}

.main-content-side, .main-content-main {
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
    flex-direction: left;
    justify-content: space-around;
    width: 200px;
}
.horizontalbar li {
    display: flex;
    flex-direction: left;
    width: 500px;
}

.h2 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: "Bradley Hand", cursive;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    padding: 0%;
}

.fa:hover {
    opacity: 0.9;
}


div {
    margin-bottom: 20px;
    justify-content: center;
    display: flex; 
    font-size: 15px;
}

p {
    margin-left: 30px;
    margin-bottom: 20px;
}

body {
    background: url('https://static.vecteezy.com/system/resources/previews/001/227/744/original/trendy-color-gradient-creative-background-vector.jpg') no-repeat center center fixed;
    background-color: lightblue;
    background-size: cover;
}

#section1 {
    display: flex;
    flex-direction: column;
}
#test {
    width: 320px;
    padding: 20px;
}

#card1, #card2, #card3 {
    width: 300px;
    height: 200px;
    margin: 25px;
    float: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px;
    border-radius: 15px;
    font-size: x-large;
    font-weight: bold;
}

#card4 {
width: 1000px;
height: 700px;
margin: 0 auto;
float: none;
margin-bottom: 10px;
margin-top: 10px;
padding: 50px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 15px;
}
